<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="mb-5">Reservation Form</h2>
          <%= form_for(@booking, html: { class: "room-booking", novalidate: 'novalidate' }) do |f| %>

          <% if @booking.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

              <ul>
                <% @booking.errors.messages.each do |attribute, message| %>
                  <li><%= message.first %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label for="">Room Type</label>
            <div style="position: relative;">
              <%= f.select :room_type, options_for_select(Room.room_types, selected: params[:room_type]), {}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for=""><span style="color: red;">*</span> Check In Date</label>
              <div style="position: relative;">
                <%= f.date_field :start_date, class: "form-control", value: params[:start_date], required: 'required' %>
              </div>
            </div>

            <div class="col-sm-6 form-group">
              <label for=""><span style="color: red;">*</span> Check Out Date</label>
              <div style="position: relative;">
                <%= f.date_field :last_date, class: "form-control", value: params[:last_date], required: 'required' %>
              </div>
            </div>
          </div>

          <div class="row">


            <div class="col-md-6 form-group">
              <label for="room">Guests</label>
              <%= f.select :number_of_person, options_for_select([1, 2, 3, 4], 1), {}, {class: "form-control"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.submit class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>