<% if @errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @errors.each do | message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif params[:room_type].blank? %>
  <table class="col-sm-12 ">
    <thead>
      <tr>
        <th>Room Type</th>
        <th>Available Rooms</th>
        <th>Book now</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Deluxe Rooms</td>
        <td><%= @deluxe %></td>
        <td><%= link_to 'Book Now', new_booking_path(room_type: 0, start_date: params[:check_in], last_date: params[:check_out]), class: 'btn btn-primary btn-sm mb-10'%></td>
      </tr>
      <tr>
        <th>Luxury Rooms</td>
        <td><%= @luxury_room %></td>
        <td><%= link_to 'Book Now', new_booking_path(room_type: 1, start_date: params[:check_in], last_date: params[:check_out]), class: 'btn btn-primary btn-sm mb-10'%></td>
      </tr>
      <tr>
        <th>Luxury suites</td>
        <td><%= @luxury_suite %></td>
        <td><%= link_to 'Book Now', new_booking_path(room_type: 2, start_date: params[:check_in], last_date: params[:check_out]), class: 'btn btn-primary btn-sm mb-10'%></td>
      </tr>
      <tr>
        <th>Presidential Suites</td>
        <td><%= @presidential_suite %></td>
        <td><%= link_to 'Book Now', new_booking_path(room_type: 3, start_date: params[:check_in], last_date: params[:check_out]), class: 'btn btn-primary btn-sm mb-10'%></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <table class="col-sm-12 ">
    <thead>
      <tr>
        <th>Room Type</th>
        <th>Available Rooms</th>
        <th>Book now</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= params[:room_type]%></td>
        <td><%= @rooms %></td>
        <td><%= link_to 'Book Now', new_booking_path(room_type: Room.room_types[params[:room_type]], start_date: params[:check_in], last_date: params[:check_out]), class: 'btn btn-primary btn-sm'%></td>
      </tr>
    </tbody>
  </table>
<% end %>